@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Open+Sans:wght@400;700&family=Playfair+Display:wght@900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Quicksand:wght@400;500;600;700&family=Work+Sans:wght@200;300;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, sans-serif;
    
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px)
{
    .container
    {
        width: 750px;
    }
    
}
@media (min-width:992px)
{
    .container
    {
        width: 970px;
    }
}
@media (min-width:1200px)
{
    .container
    {
        width: 1170px;
    }
}
body{
    font-size: 81.25%;
    background-color: #35363A;
}

.container{
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
    position: relative;
    padding-bottom: 100px;
}
.container h1
{
    font-size: 85px;
    color: white;
    text-align: center;
    
}

form
{
    position: relative;
}
form .fas.fa-search
{
    position: absolute;
    top: 50%;
    left: 5%;
    color: #333;
    translate: -50% -50%;
}
form .search{
    width: 550px;
    border-radius: 20px;
    border: none;
    padding: 13px 45px;
}
form .search:focus
{
    outline: none;
   
}


form .fas.fa-microphone
{
    color: red;
    position: absolute;
    right: 45px;
    top: 50%;
    translate: -50% -50%;
}
form .fas.fa-camera
{
    color: #20df00;
    right: 10px;
    top: 50%;
    translate: -50% -50%;
    position: absolute;

}
.container .content{
    display: flex;
    margin-top: 40px;
}
.container .content .icon{
    padding: 15px 30px;
    text-align: center;
    color: white;

}
.container .content .icon i{
    font-size: 25px;
    background-color: #222;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.container .content .icon:hover{
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}
.custumize{
    position: absolute;
    left: 85%;
    top: 93%;   
    
}
.custumize .icon-cust{
    width: 190px;
    display: flex;
    background-color: #222;
    border-radius: 20px;
    color: rgb(4, 185, 185);
    padding: 8px 5px;
}
.custumize .icon-cust:hover
{
    background-color: transparent;
    box-shadow: 0 0 7px #222;
   
}
.custumize .icon-cust i{
    position: relative;
    left: 10px;
   

}

.custumize .icon-cust p{
    position: relative;
    left: 20px;
     font-size: 14px;
     text-align: center;
}
